h1{
    position: absolute;
        top: 30%;
        left: 40%;
        font-size: 50px;
        background: linear-gradient(
            to right, #e71717, hsl(66, 91%, 56%),
             hsl(29, 80%, 60%), hsl(229, 88%, 67%));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;

}
p{
    position: absolute;
    top: 40%;
    right: 3%;
    left: 3%;
    font-size: 25px;
    font-size: 30px;
    color: rgb(75, 75, 214);
}
#rectangle {
    position: absolute;
    top: 85%;
    left:40%;
    width: 350px;
    height: 120px;
    background: red;
  }
  